/* Small screen */
@media (min-width: 640px) {
  .sm-100 { width: 100%; }
  .sm-50  { width: 50%; }
  .sm-33  { width: 33.33%; }
  .sm-25  { width: 25%; }
}

/* Medium Screen */
@media (min-width: 768px) {
  .md-100 { width: 100%; }
  .md-50  { width: 50%; }
  .md-33  { width: 33.33%; }
  .md-25  { width: 25%; }
}

/* Large Screen */
@media (min-width: 1024px) {
  .lg-100 { width: 100%; }
  .lg-50  { width: 50%; }
  .lg-33  { width: 33.33%; }
  .lg-25  { width: 25%; }
}
